<div style="font-size:12px">自动化测试报告----------2020-12-01 20:50:07
<br/>本次共运行自动化case:4，其中失败:2，成功:2，跳过0
<br/>

<br/>
</div>

<body>
	<table border="2" align="center" width="100%" cellspacing="0" bgcolor="#F0F8FF">
		<tr style="text-align: center;">
			<th class="spec">序号</th>
			<th>测试方法</th>
			<th>测试类</th>
			<th>测试结果</th>
		</tr>
		<tr style="text-align: center;">
			<td>1</td>
			<td>languagePosition</td>
			<td>com.webtest.demo.TopSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>2</td>
			<td>nationalFlagSetting</td>
			<td>com.webtest.demo.TopSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>1</td>
			<td>setPutDown</td>
			<td>com.webtest.demo.TopSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>2</td>
			<td>editHomePageName</td>
			<td>com.webtest.demo.TopSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
	
	</table>
</body>