<div style="font-size:12px">Automated test report----------2020-12-08 19:07:41
<br/>cases number:53,failedNummer:9,passedNumer:44,skippedNumber:0
<br/>

<br/>
</div>

<body>
	<table border="2" align="center" width="100%" cellspacing="0" bgcolor="#F0F8FF">
		<tr style="text-align: center;">
			<th class="spec">ID</th>
			<th>testMethod</th>
			<th>testClass</th>
			<th>test result</th>
		</tr>
		<tr style="text-align: center;">
			<td>1</td>
			<td>setTurns</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>2</td>
			<td>CSstyleSetting</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>3</td>
			<td>edtiPhoneBtnTurns</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>4</td>
			<td>addPhoneBtn</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>5</td>
			<td>deletePhoneBtn</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>6</td>
			<td>setPutDown</td>
			<td>com.webtest.demo.TopSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>7</td>
			<td>dataCopy</td>
			<td>com.webtest.demo.DataDownload</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>8</td>
			<td>addData</td>
			<td>com.webtest.demo.DataDownload</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>9</td>
			<td>deleteData</td>
			<td>com.webtest.demo.DataDownload</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>1</td>
			<td>editBanner</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>2</td>
			<td>addBanner</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>3</td>
			<td>deleteBanner</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>4</td>
			<td>addButtons</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>5</td>
			<td>setBtnColor</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>6</td>
			<td>setWordsSize</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>7</td>
			<td>deleteBtn</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>8</td>
			<td>editCSName</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>9</td>
			<td>editCSPhoneNum</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>10</td>
			<td>editeCSType</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>11</td>
			<td>deleteCSImg</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>12</td>
			<td>editCSImg</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>13</td>
			<td>addCS</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>14</td>
			<td>deleteCS</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>15</td>
			<td>editFixedStyle</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>16</td>
			<td>otherSetting</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>17</td>
			<td>addColumn</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>18</td>
			<td>deleteColumn</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>19</td>
			<td>openBackLanguageSwitch</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>20</td>
			<td>closeLanguageSwitch</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>21</td>
			<td>closeCSLanguageSwtich</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>22</td>
			<td>addNewLanguage</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>23</td>
			<td>editLanguage</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>24</td>
			<td>plugInsEdit</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>25</td>
			<td>editPhoneBtnText</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>26</td>
			<td>editPhoneBtnUrl</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>27</td>
			<td>deletePhoneBtnImg</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>28</td>
			<td>editPhoneBtnImg</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>29</td>
			<td>editPhoneBtnColor</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>30</td>
			<td>editPhoneTextColor</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>31</td>
			<td>editPhoneBtnEnable</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>32</td>
			<td>siteInfoSetting1</td>
			<td>com.webtest.demo.NowPageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>33</td>
			<td>siteInfoSetting1</td>
			<td>com.webtest.demo.NowPageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>34</td>
			<td>otherImg</td>
			<td>com.webtest.demo.NowPageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>35</td>
			<td>localImg</td>
			<td>com.webtest.demo.NowPageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>36</td>
			<td>localImg</td>
			<td>com.webtest.demo.NowPageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>37</td>
			<td>setBottomInf</td>
			<td>com.webtest.demo.NowPageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>38</td>
			<td>setBottomOtherInf</td>
			<td>com.webtest.demo.NowPageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>39</td>
			<td>setTextStyle</td>
			<td>com.webtest.demo.NowPageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>40</td>
			<td>languagePosition</td>
			<td>com.webtest.demo.TopSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>41</td>
			<td>nationalFlagSetting</td>
			<td>com.webtest.demo.TopSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>42</td>
			<td>editHomePageName</td>
			<td>com.webtest.demo.TopSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>43</td>
			<td>editData</td>
			<td>com.webtest.demo.DataDownload</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>44</td>
			<td>visitNum</td>
			<td>com.webtest.demo.DataDownload</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
	
	</table>
</body>