<div style="font-size:12px">自动化测试报告-----2020-11-15 09:46:07
<br/>本次共运行自动化case:4个，其中失败:2个，成功:2，跳过0
<br/>
失败的测试用例：类名：com.webtest.demo.Admin_Login 方法名:test2; 类名：com.webtest.demo.Admin_Login 方法名:test4; 
<br/>
</div>

<body>
	<table border="2" align="center" cellspacing="0" bgcolor="#F0F8FF">
		<tr>
			<th class="spec">序号</th>
			<th>测试类</th>
			<th>测试方法</th>
			<th>测试结果</th>
		</tr>
		<tr>
			<td>1</td>
			<td>test2</td>
			<td>com.webtest.demo.Admin_Login</td>
			<td>Failed</td>
		</tr>
			
		<tr>
			<td>2</td>
			<td>test4</td>
			<td>com.webtest.demo.Admin_Login</td>
			<td>Failed</td>
		</tr>
			
		<tr>
			<td>1</td>
			<td>test1</td>
			<td>com.webtest.demo.Admin_Login</td>
			<td>Passed</td>
		</tr>
			
		<tr>
			<td>2</td>
			<td>test3</td>
			<td>com.webtest.demo.Admin_Login</td>
			<td>Passed</td>
		</tr>
			
	
	</table>
</body>