<div style="font-size:12px">Automated test report----------2020-12-04 20:33:09
<br/>cases number:9,failedNummer:9,passedNumer:0,skippedNumber:0
<br/>

<br/>
</div>

<body>
	<table border="2" align="center" width="100%" cellspacing="0" bgcolor="#F0F8FF">
		<tr style="text-align: center;">
			<th class="spec">ID</th>
			<th>testMethod</th>
			<th>testClass</th>
			<th>test result</th>
		</tr>
		<tr style="text-align: center;">
			<td>1</td>
			<td>editPhoneBtnText</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>2</td>
			<td>editPhoneBtnUrl</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>3</td>
			<td>deletePhoneBtnImg</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>4</td>
			<td>editPhoneBtnImg</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>5</td>
			<td>editPhoneBtnColor</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>6</td>
			<td>editPhoneTextColor</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>7</td>
			<td>editPhoneBtnEnable</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>8</td>
			<td>addPhoneBtn</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>9</td>
			<td>deletePhoneBtn</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
	
	</table>
</body>