<div style="font-size:12px">Automated test report----------2020-12-07 20:53:25
<br/>cases number:1,failedNummer:1,passedNumer:0,skippedNumber:0
<br/>

<br/>
</div>

<body>
	<table border="2" align="center" width="100%" cellspacing="0" bgcolor="#F0F8FF">
		<tr style="text-align: center;">
			<th class="spec">ID</th>
			<th>testMethod</th>
			<th>testClass</th>
			<th>test result</th>
		</tr>
		<tr style="text-align: center;">
			<td>1</td>
			<td>addData</td>
			<td>com.webtest.demo.DataDownload</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
	
	</table>
</body>