<div style="font-size:12px">自动化测试报告----------2020-12-01 22:49:17
<br/>本次共运行自动化case:8，其中失败:1，成功:7，跳过0
<br/>

<br/>
</div>

<body>
	<table border="2" align="center" width="100%" cellspacing="0" bgcolor="#F0F8FF">
		<tr style="text-align: center;">
			<th class="spec">序号</th>
			<th>测试方法</th>
			<th>测试类</th>
			<th>测试结果</th>
		</tr>
		<tr style="text-align: center;">
			<td>1</td>
			<td>setTurns</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>1</td>
			<td>editBanner</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>2</td>
			<td>addBanner</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>3</td>
			<td>deleteBanner</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>4</td>
			<td>addButtons</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>5</td>
			<td>setBtnColor</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>6</td>
			<td>setWordsSize</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>7</td>
			<td>deleteBtn</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
	
	</table>
</body>