<div style="font-size:12px">Automated test report----------2020-12-05 20:57:11
<br/>cases number:45,failedNummer:19,passedNumer:26,skippedNumber:0
<br/>

<br/>
</div>

<body>
	<table border="2" align="center" width="100%" cellspacing="0" bgcolor="#F0F8FF">
		<tr style="text-align: center;">
			<th class="spec">ID</th>
			<th>testMethod</th>
			<th>testClass</th>
			<th>test result</th>
		</tr>
		<tr style="text-align: center;">
			<td>1</td>
			<td>editBanner</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>2</td>
			<td>setTurns</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>3</td>
			<td>addCS</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>4</td>
			<td>CSstyleSetting</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>5</td>
			<td>otherSetting</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>6</td>
			<td>addColumn</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>7</td>
			<td>deleteColumn</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>8</td>
			<td>addNewLanguage</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>9</td>
			<td>editLanguage</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>10</td>
			<td>plugInsEdit</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>11</td>
			<td>deletePhoneBtnImg</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>12</td>
			<td>editPhoneBtnImg</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>13</td>
			<td>editPhoneBtnColor</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>14</td>
			<td>editPhoneTextColor</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>15</td>
			<td>editPhoneBtnEnable</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>16</td>
			<td>edtiPhoneBtnTurns</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>17</td>
			<td>addPhoneBtn</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>18</td>
			<td>deletePhoneBtn</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>19</td>
			<td>setPutDown</td>
			<td>com.webtest.demo.TopSetting</td>
			
        	<td bgcolor="#FF4000">Failed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>1</td>
			<td>addBanner</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>2</td>
			<td>deleteBanner</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>3</td>
			<td>addButtons</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>4</td>
			<td>setBtnColor</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>5</td>
			<td>setWordsSize</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>6</td>
			<td>deleteBtn</td>
			<td>com.webtest.demo.BannerSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>7</td>
			<td>editCSName</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>8</td>
			<td>editCSPhoneNum</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>9</td>
			<td>editeCSType</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>10</td>
			<td>deleteCSImg</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>11</td>
			<td>editCSImg</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>12</td>
			<td>deleteCS</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>13</td>
			<td>editFixedStyle</td>
			<td>com.webtest.demo.CustomerServiceSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>14</td>
			<td>openBackLanguageSwitch</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>15</td>
			<td>closeLanguageSwitch</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>16</td>
			<td>closeCSLanguageSwtich</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>17</td>
			<td>editPhoneBtnText</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>18</td>
			<td>editPhoneBtnUrl</td>
			<td>com.webtest.demo.PhoneMenuSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>19</td>
			<td>siteInfoSetting1</td>
			<td>com.webtest.demo.NowPageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>20</td>
			<td>otherImg</td>
			<td>com.webtest.demo.NowPageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>21</td>
			<td>setBottomInf</td>
			<td>com.webtest.demo.NowPageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>22</td>
			<td>setBottomOtherInf</td>
			<td>com.webtest.demo.NowPageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>23</td>
			<td>setTextStyle</td>
			<td>com.webtest.demo.NowPageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>24</td>
			<td>languagePosition</td>
			<td>com.webtest.demo.TopSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>25</td>
			<td>nationalFlagSetting</td>
			<td>com.webtest.demo.TopSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>26</td>
			<td>editHomePageName</td>
			<td>com.webtest.demo.TopSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
	
	</table>
</body>