<div style="font-size:12px">自动化测试报告----------2020-11-23 14:52:29
<br/>本次共运行自动化case:6，其中失败:0，成功:6，跳过0
<br/>

<br/>
</div>

<body>
	<table border="2" align="center" width="100%" cellspacing="0" bgcolor="#F0F8FF">
		<tr style="text-align: center;">
			<th class="spec">序号</th>
			<th>测试方法</th>
			<th>测试类</th>
			<th>测试结果</th>
		</tr>
		<tr style="text-align: center;">
			<td>1</td>
			<td>openBackLanguageSwitch</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>2</td>
			<td>closeLanguageSwitch</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>3</td>
			<td>closeCSLanguageSwtich</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>4</td>
			<td>addNewLanguage</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>5</td>
			<td>editLanguage</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
		<tr style="text-align: center;">
			<td>6</td>
			<td>plugInsEdit</td>
			<td>com.webtest.demo.LanguageSetting</td>
			
        	<td bgcolor="#64FE2E">Passed</td>
		</tr>
			
	
	</table>
</body>