<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MetInfo" verbose="1" parallel="none">
	<listeners>
			<listener class-name="com.webtest.core.JavaMailTestListener"></listener>
	</listeners>
	<test name="all">
	    <classes>
	    	<class name="com.webtest.demo.BannerSetting"/>
	    	<class name="com.webtest.demo.CustomerServiceSetting"/>
	    	<class name="com.webtest.demo.LanguageSetting"/>
	    	<class name="com.webtest.demo.PhoneMenuSetting"/>
	    	<class name="com.webtest.demo.NowPageSetting"/>
	    	<class name="com.webtest.demo.TopSetting"/>
	    	<class name="com.webtest.demo.DataDownload"/>
	    </classes>
	    
	</test>
	
</suite>