<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="s1" verbose="1" parallel="none">
<listeners>
		<listener class-name="com.webtest.core.WebTestListener"></listener>
	</listeners>
	<test name="t2" preserve-order="true">
		<classes>
			<class name="com.webtest.demo.XueliDemo"/>
			
			
		</classes>
	</test>

</suite>